.prayer {
  /* display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column; */

  width: 80%;
  max-height: 500px;

  margin: 10px;
  padding: 20px;
  margin-top: 5%;
  overflow: hidden;
  border: 2px solid #c7660b30;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(152, 79, 79, 0.427);
  transition: background 0.3s ease;
}
.prayer:hover {
  background-color: #c9974798;
  color: white;
  cursor: pointer;
}
.prayer > img {
  width: 100%;
  max-height: 55%;
  object-fit: contain;
  margin-bottom: 15px;
  margin-top: 8%;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.prayer:hover img {
  transform: scale(1.1);
  cursor: pointer;
}

.prayer .card-text {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;

  /* max-width: 90%; */
  color: #1e1e1e;
}

/* .prayer button {
  display: block;
  margin: 10px auto 0;
  background-color: #cd9042;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.prayer button:hover {
  transform: scale(1.05);
  background-color: rgb(189, 189, 144);
} */

/* 
@media screen and (min-width: 768px) {
  .prayer {
    width: 100%;
  }
} */
